@import "tailwindcss";

:root {
    --text-mini-size: 12px;
    --text-normal-size: 14px;
    --text-headline-size: 22px;
    --text-big-size: 24px;

    /*@media (min-width: 640px) {*/
    /*    --text-mini-size: 14px;*/
    /*    --text-normal-size: 16px;*/
    /*    --text-headline-size: 20px;*/
    /*    --text-big-size: 24px;*/
    /*}*/

    @media (min-width: 768px) {
        --text-mini-size: 16px;
        --text-normal-size: 18px;
        --text-headline-size: 24px;
        --text-big-size: 28px;
    }

    @media (min-width: 1024px) {
        --text-mini-size: 18px;
        --text-normal-size: 22px;
        --text-headline-size: 32px;
        --text-big-size: 40px;
    }
}

@theme {
    /*--color-background: #0D0D0D;*/
    /*--color-light-background: #1A1A1A;*/
    /*--color-accent: #00FFD1;*/
    /*--color-dark-accent: #009682;*/
    /*--color-darkest-accent: #004239;*/
    /*--color-text: #EAEAEA;*/

    /*--color-background:       #0D0D0D;*/
    /*--color-light-background: #1A1A1A;*/
    /*--color-accent:           #FF4C4C;  !* Ярко-красный *!*/
    /*--color-dark-accent:      #B00020;  !* Тёмно-красный *!*/
    /*--color-darkest-accent:   #470000;  !* Почти бордовый *!*/
    /*--color-text:             #EAEAEA;*/

    --color-background:       #0D0D0D;
    --color-light-background: #1A1A1A;
    --color-accent:           #00FF88;  /* Неоново-зелёный */
    --color-dark-accent:      #00995A;  /* Тёмно-зелёный */
    --color-darkest-accent:   #006b47;  /* Очень тёмный зелёный */
    --color-text:             #EAEAEA;

    /*--color-background:       #0D0D0D;*/
    /*--color-light-background: #1A1A1A;*/
    /*--color-accent:           #FF66B2;  !* Ярко-розовый *!*/
    /*--color-dark-accent:      #C2185B;  !* Малиновый *!*/
    /*--color-darkest-accent:   #4A0C24;  !* Тёмный винный *!*/
    /*--color-text:             #EAEAEA;*/

    /*--color-background:       #0D0D0D;*/
    /*--color-light-background: #1A1A1A;*/
    /*--color-accent:           #FFE600;  !* Ярко-жёлтый *!*/
    /*--color-dark-accent:      #CCB200;  !* Тёмно-жёлтый *!*/
    /*--color-darkest-accent:   #665C00;  !* Почти хаки *!*/
    /*--color-text:             #EAEAEA;*/

    /*--color-background:       #0D0D0D;*/
    /*--color-light-background: #1A1A1A;*/
    /*--color-accent:           #C084FC;  !* Светло-фиолетовый *!*/
    /*--color-dark-accent:      #7C3AED;  !* Глубокий фиолетовый *!*/
    /*--color-darkest-accent:   #3D1C5F;  !* Почти ночной фиолет *!*/
    /*--color-text:             #EAEAEA;*/

    /*--color-background:       #0D0D0D;*/
    /*--color-light-background: #1A1A1A;*/
    /*--color-accent:           #00BFFF;  !* Электрик-блю *!*/
    /*--color-dark-accent:      #0077B6;  !* Глубокий синий *!*/
    /*--color-darkest-accent:   #002744;  !* Темнейшая синяя глубина *!*/
    /*--color-text:             #EAEAEA;*/

    /*--color-background:       #0D0D0D;*/
    /*--color-light-background: #1A1A1A;*/
    /*--color-accent:           #FFA500;  !* Классический оранжевый *!*/
    /*--color-dark-accent:      #CC8400;  !* Тёмно-оранжевый *!*/
    /*--color-darkest-accent:   #664000;  !* Почти коричневый *!*/
    /*--color-text:             #EAEAEA;*/

    --text-mini: var(--text-mini-size);
    --text-normal: var(--text-normal-size);
    --text-headline: var(--text-headline-size);
    --text-big: var(--text-big-size);

    --radius-big: 30px;
    --radius-normal: 20px;
    --radius-mini: 15px;

    --font-main: var(--font-neucha);
    --font-second: var(--font-geist-mono);

    --breakpoint-1440: 1440px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: clip;
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
    font-size: var(--text-headline);
}

p {
    font-size: var(--text-normal);
}

.bottom-shadow {
    box-shadow: 0 0 10px var(--color-accent);

    @media (min-width: 768px) {
        box-shadow: 0 0 20px var(--color-accent);
    }
}

.neoShadow {
    box-shadow: 0 0 10px var(--color-dark-accent), inset 0 0 10px var(--color-dark-accent);

    @media (min-width: 768px) {
        box-shadow: 0 0 20px var(--color-dark-accent), inset 0 0 20px var(--color-dark-accent);
    }
}

.neoMiniShadow {
    box-shadow: 0 0 5px var(--color-dark-accent), inset 0 0 5px var(--color-dark-accent);

    @media (min-width: 768px) {
        box-shadow: 0 0 10px var(--color-dark-accent), inset 0 0 10px var(--color-dark-accent);
    }
}